:root {
    --accent: 66, 59, 49;
    --accent-light: rgb(199, 121, 47);
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        var(--accent-light) 80%,
        rgba(255, 255, 255, 0.323) 20%
    );
    --font-inter: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --font-mono: "Geist Mono", "SFMono-Regular", "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --border-size: 0.5px;
    --border-color: #e8e8e8;
    --border-style: dashed;
}
html {
    font-family: system-ui, sans-serif;
    background: #ffffff;
    /*
    background-image: url('./bg7.jpeg');
    */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
body {
  margin: 0;
  font-family: var(--font-inter);
  color: #121212;
}

.section-container {
  max-width: calc(640px - 34px);
  margin: auto;
  padding: 24px 16px;
  border-bottom: var(--border-size) var(--border-style) var(--border-color);
  border-left: var(--border-size) var(--border-style) var(--border-color);
  border-right: var(--border-size) var(--border-style) var(--border-color);
  border-top: 0;
  opacity: 0;
  h3 {
    margin: 0;
    font-family: var(--font-mono);
    color: #121212;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
  }
}
.section-container.visible {
  animation: fadeInUp 1s cubic-bezier(0.68, 0, 0.31, 0.91) forwards;
  animation-delay: 0.1s;

}

.header {
  color: #7e7e7e;
  font-family: var(--font-mono);
  font-size: 12px;
  letter-spacing: .04em;
  font-weight: 300;
  .header__info-group {
    display: flex;
    justify-content: space-between;
  }
  .header__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .header__icon {
    width: 16px;
    height: 16px;
  }
}


.intro {
  padding: 0 16px;
}

.intro__profile {
  display: flex;
  gap: 16px;
  .intro__details {
    display: flex;
    flex-flow: column;
    gap: 6px;
  }
  h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
  }
  .intro__role {
    font-size: 20px;
    color: #7e7e7e;
    margin: 0;
    letter-spacing: -.05em;
    font-weight: 300;
  }
  .intro__image-container {
    padding: 16px 0;
  }
  .intro__avatar {
    border-radius: 10px;
  }
  .intro__details {
    border-left: var(--border-size) var(--border-style) var(--border-color);
    padding-left: 16px;
    justify-content: center;
  }
  @media screen and (max-width: 415px) {
    .intro__name {
      font-size: 22px;
    }
    .intro__role {
      font-size: 16px;
    }
    .intro__avatar {
      width: 100px;
      height: 100%;
    }
  }
}

.about {
  p {
    font-size: 16px;
    color: #8f8f8f;
    letter-spacing: -0.01em;
    line-height: 24px;
  }
}

.experience {
  .experience__container {
    display: flex;
    flex-flow: column;
    gap: 24px;
  }
  img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
  }
  .job {
    display: flex;
    align-items: start;
    gap: 12px;
    h4 {
      margin: 0;
      font-weight: 500;
    }
    .job__meta {
      font-family: var(--font-mono);
      color: #7e7e7e;
      font-size: 12px;
      text-transform: uppercase;
      margin-top: 6px;
      letter-spacing: -.02em;
    }
    ul {
      padding-left: 12px;
      line-height: 24px;
    }
    li {
      color: #8f8f8f;
      font-size: 16px;
      padding-left: 6px;
      margin-left: 0;
    }
  }
}

.projects__container {
  overflow: hidden;
}

.projects__title {
  font-family: var(--font-sans);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 2rem;
}

.projects__grid {
  margin-top: 16px;
  opacity: 1;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12%, rgb(0, 0, 0) 88%, rgba(0, 0, 0, 0) 100%);
  overflow: visible;
}

.projects__carousel {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  place-items: center;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  gap: 16px;
  position: relative;
  flex-direction: row;
  will-change: transform;
  transform: translateX(0px);
  opacity: 1;
  animation: slide-infinite 20s linear infinite;
  min-width: fit-content;
  padding-top: 16px;
}
.projects__carousel:hover {
  animation-play-state: paused;
}

.project-card {
  display: block;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(242, 242, 242);
  border-radius: 20px;
  padding: 12px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  text-decoration: none;
  width: 100%;
  height: 100%;
  min-width: 270px;
  max-width: 270px;
}

.project-card:hover {
  transform: translateY(-4px);
}

.project-card__image-wrapper {
  border-radius: 12px;
  border: 1px solid rgb(184, 184, 184);
  overflow: hidden;
  width: 100%;
  height: auto;
  aspect-ratio: 9 / 6;
}

.project-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

@keyframes slide-infinite {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50%));
  }
}

.education {
  .education__title {
    margin-bottom: 32px;
  }
  h4 {
    font-weight: 500;
    margin: 0;
  }
  .education-item__degree {
    font-size: 16px;
  }
  .education-item__meta {
    font-family: var(--font-mono);
    color: #7e7e7e;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 6px;
    letter-spacing: -.02em;
  }
  .education-item__location {
    font-size: 16px;
    color: #8f8f8f;
    letter-spacing: -0.01em;
    line-height: 24px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skills {
  .skills__list {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  a {
    text-decoration: none;
  }
  .pill {
    font-size: 16px;
    border-radius: 4px;
    color: #8f8f8f;
    background: #FAFAF9;
    padding: 6px 12px;
    border: solid 1px #e3e1e1;
  }
  hr {
    border-color: #e8e8e8;
    opacity: 20%;
  }
  .stack__grid {
    margin-top: 24px;
    display: flex;
    gap: 22px;
    flex-flow: row wrap;
  }

  @media screen and (max-width: 450px) {
    .stack__grid {
      gap: 14px;
    }
  }

  .stack__link {
    transition: transform .25s ease;
  }
  .stack__link:hover {
    transform: scale(1.08);
  }
}

.languages__container {
}

.languages__title {
  text-transform: uppercase;
}

.languages__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.language-item {
  display: flex;
  justify-content: space-between; /* Pushes name to left and level to right */
  align-items: center;
  width: 100%;
}

.language-item__name {
  font-family: var(--font-sans);
  font-size: 16px;
  color: #121212;
}

.language-item__level {
  font-family: var(--font-sans);
  font-size: 1rem;
  color: #7e7e7e; /* Greyscale for the level label */
}
