:root {
    --accent: 66, 59, 49;
    --accent-light: rgb(199, 121, 47);
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        var(--accent-light) 80%,
        rgba(255, 255, 255, 0.323) 20%
    );
}
html {
    font-family: system-ui, sans-serif;
    background: #090d10;
    /*
    background-image: url('./bg7.jpeg');
    */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
body {
    margin: 0;
}
code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}
main {
    margin: auto;
    padding: 3rem 0rem;
    width: calc(100% - 2rem);
    max-width: 900px;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    display: block;
}
.cols-wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .cols-wrapper {
        flex-direction: column;
        gap: 0;
    }
    .cols-wrapper ul {
        margin: .5rem 0;
    }
}
.astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
}
h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
}
.text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}
.instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
}
.instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
}
.instructions strong {
    color: rgb(var(--accent-light));
}
.link-card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
    width: 100%;
    justify-content: start;
    flex-direction: column;
}

.me-card {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background-color: #23262ddb;
    backdrop-filter: blur(6px);
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    list-style-type: none;
    width: 100%;
    padding: 1rem 0;
    opacity: .9;
    img.me-img {
        border-radius: 50%;
        border: solid 1px var(--accent-light);
        max-width: 90px;
        object-fit: cover;
        object-position: 0 30%;
        max-height: 90px;
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;
    }
    .content {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;
    }
    .introduction {
        line-height: 1.25;
    }
    span {
        left: 0;
        top: 0;
    }
    p {
        display: block;
        font-size: 16px;
        margin: .5rem 0;
    }
}


/* exp */
.exp-card {
    list-style: none;
    display: flex;
    padding: 1px;
    max-width: 100%;
    width: 100%;
    background-color: #23262ddb;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ol li.exp-item {
        display: flex;
        margin: 0;
        padding: 8px 0 8px 0;
    }
    ol ul.current {
        padding: 0 0 0 25px;
        list-style-type: disc;
    }
    ol ul:not(.current) {
        padding: 0 0 0 0px;
        list-style-type: none;
    }
    .year {
        font-size: 12px;
        border-radius: 25px;
        background-color: var(--accent-light);
        margin-right: 25px;
        height: fit-content;
        padding: 2px 8px;
    }
    .info {
        display: flex;
        flex-direction: column;
    }
    .info .role {
        font-size: 16px;
        text-decoration: underline;
    }
    .info .activities {
        font-size: 15px;
    }
    &> .wrapper {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        padding: calc(1.5rem - 1px);
        border-radius: 8px;
        color: white;
        background-color: transparent;
        backdrop-filter: blur(7px);
        opacity: 1;
    }
    h2 {
        margin: 0;
        font-size: 1.25rem;
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    p {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
}

/* tech */
.tech-card {
    list-style: none;
    display: flex;
    padding: 1px;
    max-width: 100%;
    width: 100%;
    background-color: #23262d;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    &> .wrapper {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        padding: calc(1.5rem - 1px);
        border-radius: 8px;
        color: rgb(41, 41, 41);
        background-color: #c5c5c5;
        opacity: .8;
    }
    h2 {
        margin: 0;
        font-size: 1.25rem;
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    p {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
    .wrapper ul {
        display: flex;
        padding: 0;
        gap: 10px;
        margin-top: 15px;
        flex-wrap: wrap;
    }
    .wrapper li {
        display: flex;
        border: solid 1px rgb(41, 41, 41);
        border-radius: 10px;
        padding: 4px;
        transition: filter .5s ease;
        font-size: 16px;
        align-items: center;
        cursor: pointer;
        filter: brightness(80%);
    }
    .wrapper li:hover {
        filter: brightness(100%);
    }
}

/* project */
.project-card {
    list-style: none;
    display: flex;
    padding: 1px;
    max-width: 100%;
    width: 100%;
    background-color: #23262d;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background-color: transparent;
    overflow: hidden;
    &> .wrapper {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        border-radius: 8px;
        color: white;
        background-color: #23262d;
        backdrop-filter: blur(3px);
        opacity: 1;
        position: relative;
    }
    h2 {
        margin: 0;
        font-size: 1.25rem;
        text-shadow: 1px 1px 10px rgba(0,0,0,0.6);
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    .content {
        position: absolute;
        bottom: 25px;
        left: 0px;
        padding: 0 22px;
    }
    .label {
        position: absolute;
        top: 12px;
        left: 12px;
        background-color: var(--accent-light);
        border-radius: 25px;
        font-size: 12px;
        padding: 2px 6px;
    }
    p {
        margin-top: 0.5rem;
        margin-bottom: 0;
        font-size: 15px;
        text-shadow: 1px 1px 10px rgba(0,0,0,0.6);
    }
    img {
        width: 100%;
        object-fit: cover;
        object-position: top;
        filter: brightness(50%);
        transition: all .5s ease;
        height: 100%;
        max-height: 300px;
        transform: scale(1.05);
    }
    &:hover img {
        transform: scale(1.1);
        filter: brightness(80%);
    }
}

/* clients */
.clients-card {
    list-style: none;
    display: flex;
    padding: 1px;
    max-width: 100%;
    width: 100%;
    background-color: #23262d;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background-color: transparent;
    &> .wrapper {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        padding: calc(1.5rem - 1px);
        border-radius: 8px;
        color: #262626;
        background-color: var(--accent-light);
        backdrop-filter: blur(3px);
        opacity: .8;
    }
    h2 {
        margin: 0;
        font-size: 1.25rem;
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    p {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
    ul {
        margin-top: 1rem;
        list-style-type: none;
        padding: 0;
        display: flex;
        align-items: start;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        height: 100%;
        width: 100%;
    }
    ul li {
        border: solid 1px #262626;
        border-radius: 10px;
        padding: 5px 5px;
        background-color: rgba(214, 214, 214, 0.359);
        transition: all .5s ease;
        max-width: calc(25% - 20px);
        width: 100%;
        height: auto;
        aspect-ratio: 2/1;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    ul li:hover {
        transform: scale(1.1);
        background-color: rgba(218, 218, 218, 0.721);
    }
    ul li img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

/* spotify */
.spotify-card {
    list-style: none;
        display: flex;
        padding: 1px;
        max-width: 100%;
        width: 100%;
        background-color: #23262ddb;
        background-image: none;
        background-size: 400%;
        border-radius: 7px;
        background-position: 100%;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 20px;
        display: flex;
        flex-direction: row;
        margin-top: 14px;
        overflow-x: auto;
        flex-wrap: nowrap;
    }
    ul li {
        display: block;
        width: 100%;
    }
    ul li iframe {
        width: 100%;
        display: block;
    }
    ul li span {
        font-size: 16px;
    }
    &> .wrapper {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        padding: calc(1.5rem - 1px);
        border-radius: 8px;
        color: white;
        background-color: transparent;
        backdrop-filter: blur(7px);
        opacity: 1;
    }
    h2 {
        margin: 0;
        font-size: 1.25rem;
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    p {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
    .gallery  {
    --d: 25s; /* duration */
    display: grid;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,#0000,#000 10% 90%,#0000);
    }
    .gallery:hover > li {
        animation-play-state: paused;
    }
    .gallery > li {
        padding: 0 5px;
        grid-area: 1/1;
        aspect-ratio: auto;
        object-fit: cover;
        animation: r var(--d) linear infinite;
    }
    .gallery > li:nth-child(2) {animation-delay: calc(1*var(--d)/-4)}
    .gallery > li:nth-child(3) {animation-delay: calc(2*var(--d)/-4)}
    .gallery > li:nth-child(4) {animation-delay: calc(3*var(--d)/-4)}
    
}
@keyframes r {
    75%    {transform: translate(-300%)}
    75.01% {transform: translate( 100%)}
}